.input {
background-image: url('../img/b.jpg');
    select{
width:300px;
height:50px;
font-size:25px;
outline: none;
margin:10px 0;
padding: 0 10px; 
border-radius: 10px;
    }
    input{
        width:300px;
        margin:10px 0;
        outline: none;
        height:50px;
        font-size:25px;  
        padding-left:10px; 
        border-radius: 10px;
        border:1px solid grey;
    }
    
}

section{
    display:flex;
    height:calc(100vh - 100px);
    justify-content: center;
    align-items: center;
  
}
.button-1 button{
    width:300px;
    height:50px;
    font-size:25px;
    border-radius: 10px;
    border:1px solid grey;
    margin:10px 0;
    background-color: #26b30e ;
    color:#fff;
}